@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.terminal-screen::-webkit-scrollbar {
    border-radius: 10px;
    width: 5px;
    background: transparent;
}
  
.terminal-screen::-webkit-scrollbar-thumb {
    background: #EF5DA8;
    border-radius: 999990px;
}