.wrapper {
    position: absolute;
    margin-top: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 20px;

    .terminal {
        height: 100%;
        width: 100%;
    }
}