@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: Source Code Pro;
    src: url('font/SourceCodePro-Regular.ttf');
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #222226;
}